Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent/*
Content/KiteDemo/*
Content/SoulCity/*
Content/GTFreeMaterials/*
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.txt