Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent/*
Content/KiteDemo/*
Content/SoulCity/*
Content/GTFreeMaterials/*
Content/SciFiPackage/*
Content/Lighting/*
Content/ParagonProps/*
Content/SampleMap/*
Content/InfinityBladeGrassLands/*
Content/scifi_kitbash/*
Content/VFX_Toolkit_V1/*
Content/ToolShedVOL1/*
Content/InfinityBladeEffects/*
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.txt